#title{
    background-color: #ff4c68;
    color:#fff;
}
body{
    font-family: 'Montserrat', sans-serif;  
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/*nav-bar*/
.navbar{
    padding:0 0 4.5rem;/*to make my logo aligned with the text below*/
}
.nav-item{
    padding: 0 18px ;
}
.nav-link{
    font-size: 1.2rem;
}
/*Download buttons*/
.download_button{
    margin: 5% 3% 5% 0;
}
/*phone image*/
.phone{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}
/*feature*/
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
   
}
.feature_box{
    text-align: center;
    padding: 5%;
} 
h3{
    font-family:'Montserrat', sans-serif;
    font-weight: bold; 
}
h2{
    font-family:'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
p{
    color:#A5A6A5;
}
.icon{
    color:#ef8172;
    margin-bottom:1rem;
}
.icon:hover{
    color:#ff4c68;
}
/*testimonials section*/
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:white;
}
.dog{
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2%;
}
.prss_company{
    width: 15%;
    margin: 2%;
}
.carousel-item{
    padding: 7% 15%;
}
/*pricing section*/
#pricing{
    padding: 2%;
    text-align: center;
}
.price_col{
    padding: 3% 2%;
}
/*mobile & tablet size adjustments*/
@media (max-width:1028px){
    .phone{
        position: static;
        transform: rotate(0deg);
    }
    .container-fluid{
        text-align: center;
    }
}
/*call to action*/
#cta{
    text-align: center;
    background-color: #ff4c68;
    font-family:'Montserrat', sans-serif;
    padding:7% 15% ;
    font-weight: bold;
    color:white;
}
/*footer*/
footer{
    text-align: center;
    padding:7% 15% ;
}
/*icon section in footer*/
.social{
    margin: 5% 2.5%;
    color: #ff4c68;
}
#facebook:hover{
    color: #3b5998;
}
#twitter:hover{
    color: #00acee ;
}
#instagram:hover{
    color:#d6249f;
}
#twitter:hover{
    color: #00acee ;
}
#mail:hover{
    color:#fab906;
}
.copy{
    margin-top:5% ;
}
h4{
    color:white;
    font-family:'Montserrat', sans-serif;
}